<h1> <%= "Results For #{params[:query]}" %> </h1>

<!--<%= render partial: "search" %>-->

<div class="container-fluid">

   <div class="row-fluid">
      <% if @photosByAddress.length > 0 %>
        <div class="span10">
              <%= gmaps4rails(@json) %>
        </div>
      <% end %>
      <div class="span2">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Categories</li>
              <% @categories.each do |category| %>
                <li> <%= link_to category.name, category_path(category) %> </li>
              <% end %>
            </ul>
          </div><!--/.well -->
      </div><!--/span-->
    </div>

</div>



