<h1> Welcome to Snap Spot </h1>

<% if user_signed_in? %>
    <%= link_to "My Photos", user_path(current_user) %>
<% end %>
<p>
    <%= link_to "Categories", categories_path() %> | <%= link_to "Photos", photos_path() %>
  </p>

<p>
    <%= render partial: "search/search" %>
</p>
