<h1> Upload Your Photo </h1>

<%= render partial: "error" %>

<%= form_for @photo, :html => {:multipart => true} do |f|  %>
    <p>
        <%= f.file_field :image %>
    </p>

    <p>
        <%= f.submit "Submit" %>
    </p>

<% end %>

