<h1> Upload Your Photo </h1>

<%= render partial: "error" %>

<div class="container">
  <%= form_for @photo, :html => {:multipart => true} do |f|  %>
          <%= f.file_field :image %>
          <%= f.submit "Submit" %>
  <% end %>
</div>

