<div class="container-fluid">
    <ul>
            <% @categories.each do |category| %>
                <li>
                    <%= link_to category.name, category_path(category) %>
                    <div class="row-fluid">
                        <ul class="thumbnails">
                        <% category.photos do |photo| %>
                            <li class="span3">
                                <a href= <%= photo_path(photo) %> >
                                <img class="img-polaroid" src=<%= photo.image.url(:small) %> alt="">
                          </li>
                        <% end %>
                        </ul>
                    </div>
                </li>
            <% end %>
    </ul>
</div>


